body{
background-image:url("butterfly-background.jpg");
background-position: center;
background-size: cover;
}
#h1{
color:yellow;
}
#h3{
color:orange;
font-size:30px;
}
#h4{
color:rgb(17, 0, 255);
font-size: 25px;
}
#camera{
width:360px;
height: 250px;
border:1px solid rgb(244, 13, 13);
}
img:hover{
border-radius:140px;
}